name: Comment on PRs

on:
  pull_request:
    branches: [ "main" ]

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate model
        id: validate
        uses: nwxrichardson/corvus-comment@v1
        
